
<section class="text-center" id="hero">
  
  <article class="container contenido">
    <h1 class="display-4 fw-bold mb-3">Impulsa tu éxito inmobiliario</h1>
    <p class="lead fw-bold mb-4">Asesoramiento experto y datos precisos para tus proyectos inmobiliarios. Toma decisiones
      informadas y maximiza tus inversiones.</p>
    <div>
      <button class="btn btn-primary btn-sm me-2">Comienza gratis</button>
      <button class="btn btn-primary btn-sm">Conoce más</button>
    </div>
  </article>

</section>
