<section id="admin" class="py-5">
    <div class="container">
      <h2>Administración del Sitio</h2>
      <div *ngIf="!autenticado">
        <app-auth (authSuccess)="onAuthSuccess()"></app-auth>
      </div>
      <div *ngIf="autenticado">
        <button class="btn btn-danger mb-3" (click)="logout()">Cerrar sesión</button>
        <h2>Panel de administración</h2>
        <ul>
          <li *ngFor="let user of users" (click)="selectUser(user)" [class.selected]="user.selected">
            {{user.name}} ({{user.age}} años)
          </li>
        </ul>
        <div *ngIf="selectedUser">
          <h3>Usuario seleccionado:</h3>
          <p>ID: {{selectedUser.id}}</p>
          <p>Nombre: {{selectedUser.name}}</p>
          <p>Edad: {{selectedUser.age}}</p>
        </div>
      </div>
    </div>
</section>
