@import 'dhtmlx-gantt/codebase/dhtmlxgantt.css';

.gantt-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 64px; /* Ajusta este valor según la altura de tu menú principal */
}

.gantt-toolbar {
  z-index: 9999 !important;
  position: relative;
}

.gantt-chart {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
}
