@import 'dhtmlx-gantt/codebase/dhtmlxgantt.css';


.gantt-chart {
  flex: 1 1 0;
  position: relative;
  height: auto;
  width: 98%;
  overflow: hidden;
  margin-left: 1%;
}

/* Monitor grande 1920 x 1080*/
@media (min-width: 1900px) {
  .gantt-wrapper {
    display: flex;
    flex-direction: column;
    height: 82vh;
    margin-top: 54px;
    /* Ajusta este valor según la altura de tu menú principal */
  }

  .gantt-toolbar {
    z-index: 9999 !important;
    display: flex;
    position: relative;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: center;
    background: #a8a7a4;
    border: 2px solid #201402;
    padding: 0.75rem 1.5rem;
    box-sizing: border-box;
    border-radius: 6px;
  }
}

/* Monitor mediano 1440 x 900 */
@media (min-width: 1400px) {
  .gantt-wrapper {
    display: flex;
    flex-direction: column;
    height: 78vh;
    margin-top: 54px;
    /* Ajusta este valor según la altura de tu menú principal */
  }
}

.gantt-toolbar {
  z-index: 9999 !important;
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  gap: 1rem;
  align-items: center;
  background: #a8a7a4;
  border: 2px solid #201402;
  padding: 0.75rem 1.5rem;
  box-sizing: border-box;
  border-radius: 6px;
}