<div class="sticky ">
  <div class="container">
    <div class="row justify-content-md-between">
      <div class="col-3">
        <p>{{appName}}</p>
        <p class="text-muted">Impulsando el éxito en el sector inmobiliario con tecnología y experiencia.</p>
      </div>
      <div class="col-3">
        <ul class="list-unstyled">
          <li><a class="nav-link link-primary" routerLink="/features" routerLinkActive="active">Características</a></li>
          <li><a class="nav-link link-primary" routerLink="/testimonials" routerLinkActive="active">Testimonios</a></li>
          <li><a class="nav-link link-primary" routerLink="/pricing" routerLinkActive="active">Precios</a></li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="list-unstyled">
          <li><a class="nav-link link-primary" routerLink="/privacidad" routerLinkActive="active">Política de
              privacidad</a></li>
          <li><a class="nav-link link-primary" routerLink="/terminos" routerLinkActive="active">Términos de servicio</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <div class="d-flex">
          <a href="#" class="me-3 text-muted"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="me-3 text-muted"><i class="fab fa-twitter"></i></a>
          <a href="#" class="me-3 text-muted"><i class="fab fa-instagram"></i></a>
          <a href="#" class="me-3 text-muted"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <small class="text-muted" style="font-size: 14px;">© {{currentYear}} {{appName}}. Todos los derechos
    reservados.</small>
</div>
