
.sticky {
    position: relative;
    padding-top: 0.5vh;
    font-size: smaller; /* Making the font size smaller */
    height: 85px;
    /*background-color: rgb(173, 184, 181);*/
}

@media (min-width: 1900px) {
    .sticky {
        position: relative;
        /*bottom: 1vh;  Pega el div al fondo */
        /*background-color: rgb(136, 30, 30);*/
        font-size: smaller; /* Making the font size smaller */
      } 
}
  
  /* Personalización para pantallas medianas */
  @media (min-width: 1440px) and (max-width: 1440px) {
    .sticky {
        position: relative;
        /*bottom: 40px;  Pega el div al fondo */
        /*background-color: rgb(136, 30, 30);*/
        font-size: smaller; /* Making the font size smaller */
      }
}

/* Personalización para notebooks 1366 X 768*/
  @media (min-width: 1366px) and (max-width: 1366px) {
    .sticky {
        position: relative;
        /*bottom: 5px; /* Pega el div al fondo */
        /* background-color: rgb(136, 30, 30); */
        font-size: smaller; /* Making the font size smaller */
      }
}
  
  /* Personalización para dispositivos móviles */
  @media (max-width: 767px) {
    .sticky {
        position: relative;
        /*bottom: 0; /* Pega el div al fondo */
        font-size: smaller; /* Making the font size smaller */
      }
}